XMU(0)=0
XMU(1)=0
XMU(2)=0
BX1(3)= 
BX1(4)= 
BX1(5)= 
BX1(6)= 
BX1(7)= 
BX1(8)= 
BX1(9)= 
BX1(10)= 
BX1(11)= 
BX1(12)= 
BX2(3)= 
BX2(4)= 
BX2(5)= 
BX2(6)= 
BX2(7)= 
BX2(8)= 
BX2(9)= 
BX2(10)= 
BX2(11)= 
BX2(12)= 
BX3(3)= 
BX3(4)= 
BX3(5)= 
BX3(6)= 
BX3(7)= 
BX3(8)= 
BX3(9)= 
BX3(10)= 
BX3(11)= 
BX3(12)= 
BX4(3)= 
BX4(4)= 
BX4(5)= 
BX4(6)= 
BX4(7)= 
BX4(8)= 
BX4(9)= 
BX4(10)= 
BX4(11)= 
BX4(12)= 
dt(3)= 
dt(4)= 
dt(5)= 
dt(6)= 
dt(7)= 
dt(8)= 
dt(9)= 
dt(10)= 
dt(11)= 
dt(12)= 
T(3)= 
T(4)= 
T(5)= 
T(6)= 
T(7)= 
T(8)= 
T(9)= 
T(10)= 
T(11)= 
T(12)= 
mc_1(3)=s
mc_1(4)=s
mc_1(5)=s 
mc_1(6)=s 
mc_1(7)=s 
mc_1(8)=s 
mc_1(9)=s
mc_1(10)=s 
mc_1(11)=s 
mc_1(12)=s
mc_2(3)=VSP1
mc_2(4)=VSP1
mc_2(5)=VSP1
mc_2(6)=VSP1
mc_2(7)=VSP1
mc_2(8)=VSP1
mc_2(9)=VSP1
mc_2(10)=VSP1
mc_2(11)=VSP1
mc_2(12)=f4
mc_3(3)= 
mc_3(4)=
mc_3(5)= 
mc_3(6)= 
mc_3(7)= 
mc_3(8)= 
mc_3(9)=
mc_3(10)= 
mc_3(11)= 
mc_3(12)=
mc_4(3)= 
mc_4(4)=
mc_4(5)= 
mc_4(6)= 
mc_4(7)= 
mc_4(8)= 
mc_4(9)=
mc_4(10)= 
mc_4(11)= 
mc_4(12)=
r3d_1(3)=$c_std_$t.r3d
r3d_1(4)=$c_std_$t.r3d
r3d_1(5)=$c_std_$t.r3d
r3d_1(6)=$c_std_$t.r3d 
r3d_1(7)=$c_std_$t.r3d 
r3d_1(8)=$c_std_$t.r3d 
r3d_1(9)=$c_std_$t.r3d
r3d_1(10)=$c_std_$t.r3d 
r3d_1(11)=$c_std_$t.r3d 
r3d_1(12)=$c_std_exit.r3d
r3d_2(3)=$c_gas_$t.r3d
r3d_2(4)=$c_gas_$t.r3d
r3d_2(5)=$c_gas_$t.r3d 
r3d_2(6)=$c_gas_$t.r3d 
r3d_2(7)=$c_gas_$t.r3d 
r3d_2(8)=$c_gas_$t.r3d 
r3d_2(9)=$c_gas_$t.r3d
r3d_2(10)=$c_gas_$t.r3d 
r3d_2(11)=$c_gas_$t.r3d 
r3d_2(12)=$c_tke_exit.r3d
r3d_3(3)= 
r3d_3(4)=
r3d_3(5)= 
r3d_3(6)= 
r3d_3(7)= 
r3d_3(8)= 
r3d_3(9)=
r3d_3(10)= 
r3d_3(11)= 
r3d_3(12)=
r3d_4(3)= 
r3d_4(4)=
r3d_4(5)= 
r3d_4(6)= 
r3d_4(7)= 
r3d_4(8)= 
r3d_4(9)=
r3d_4(10)= 
r3d_4(11)= 
r3d_4(12)=
o1(3)= 
o1(4)=
o1(5)= 
o1(6)= 
o1(7)= 
o1(8)= 
o1(9)= 
o1(10)= 
o1(11)= 
o1(12)=1
o2(3)= 
o2(4)= 
o2(5)= 
o2(6)= 
o2(7)= 
o2(8)= 
o2(9)= 
o2(10)= 
o2(11)= 
o2(12)=1
o3(3)= 
o3(4)= 
o3(5)= 
o3(6)= 
o3(7)= 
o3(8)= 
o3(9)= 
o3(10)= 
o3(11)= 
o3(12)= 
o4(3)= 
o4(4)= 
o4(5)= 
o4(6)= 
o4(7)= 
o4(8)= 
o4(9)= 
o4(10)= 
o4(11)= 
o4(12)= 
XL1(3)= 
XL1(4)= 
XL1(5)= 
XL1(6)= 
XL1(7)= 
XL1(8)= 
XL1(9)= 
XL1(10)= 
XL1(11)= 
XL1(12)= 
XL2(3)= 
XL2(4)= 
XL2(5)= 
XL2(6)= 
XL2(7)= 
XL2(8)= 
XL2(9)= 
XL2(10)= 
XL2(11)= 
XL2(12)= 
XL3(3)= 
XL3(4)= 
XL3(5)= 
XL3(6)= 
XL3(7)= 
XL3(8)= 
XL3(9)= 
XL3(10)= 
XL3(11)= 
XL3(12)= 
DX1(3)= 
DX1(4)= 
DX1(5)= 
DX1(6)= 
DX1(7)= 
DX1(8)= 
DX1(9)= 
DX1(10)= 
DX1(11)= 
DX1(12)= 
DX2(3)= 
DX2(4)= 
DX2(5)= 
DX2(6)= 
DX2(7)= 
DX2(8)= 
DX2(9)= 
DX2(10)= 
DX2(11)= 
DX2(12)= 
DX3(3)= 
DX3(4)= 
DX3(5)= 
DX3(6)= 
DX3(7)= 
DX3(8)= 
DX3(9)= 
DX3(10)= 
DX3(11)= 
DX3(12)= 
NODEX1(3)= 
NODEX1(4)= 
NODEX1(5)= 
NODEX1(6)= 
NODEX1(7)= 
NODEX1(8)= 
NODEX1(9)= 
NODEX1(10)= 
NODEX1(11)= 
NODEX1(12)= 
NODEX2(3)= 
NODEX2(4)= 
NODEX2(5)= 
NODEX2(6)= 
NODEX2(7)= 
NODEX2(8)= 
NODEX2(9)= 
NODEX2(10)= 
NODEX2(11)= 
NODEX2(12)= 
NODEX3(3)= 
NODEX3(4)= 
NODEX3(5)= 
NODEX3(6)= 
NODEX3(7)= 
NODEX3(8)= 
NODEX3(9)= 
NODEX3(10)= 
NODEX3(11)= 
NODEX3(12)= 
YL1(3)= 
YL1(4)= 
YL1(5)= 
YL1(6)= 
YL1(7)= 
YL1(8)= 
YL1(9)= 
YL1(10)= 
YL1(11)= 
YL1(12)= 
YL2(3)= 
YL2(4)= 
YL2(5)= 
YL2(6)= 
YL2(7)= 
YL2(8)= 
YL2(9)= 
YL2(10)= 
YL2(11)= 
YL2(12)= 
YL3(3)= 
YL3(4)= 
YL3(5)= 
YL3(6)= 
YL3(7)= 
YL3(8)= 
YL3(9)= 
YL3(10)= 
YL3(11)= 
YL3(12)= 
DY1(3)= 
DY1(4)= 
DY1(5)= 
DY1(6)= 
DY1(7)= 
DY1(8)= 
DY1(9)= 
DY1(10)= 
DY1(11)= 
DY1(12)= 
DY2(3)= 
DY2(4)= 
DY2(5)= 
DY2(6)= 
DY2(7)= 
DY2(8)= 
DY2(9)= 
DY2(10)= 
DY2(11)= 
DY2(12)= 
DY3(3)= 
DY3(4)= 
DY3(5)= 
DY3(6)= 
DY3(7)= 
DY3(8)= 
DY3(9)= 
DY3(10)= 
DY3(11)= 
DY3(12)= 
NODEY1(3)= 
NODEY1(4)= 
NODEY1(5)= 
NODEY1(6)= 
NODEY1(7)= 
NODEY1(8)= 
NODEY1(9)= 
NODEY1(10)= 
NODEY1(11)= 
NODEY1(12)= 
NODEY2(3)= 
NODEY2(4)= 
NODEY2(5)= 
NODEY2(6)= 
NODEY2(7)= 
NODEY2(8)= 
NODEY2(9)= 
NODEY2(10)= 
NODEY2(11)= 
NODEY2(12)= 
NODEY3(3)= 
NODEY3(4)= 
NODEY3(5)= 
NODEY3(6)= 
NODEY3(7)= 
NODEY3(8)= 
NODEY3(9)= 
NODEY3(10)= 
NODEY3(11)= 
NODEY3(12)= 
ZL1(3)= 
ZL1(4)= 
ZL1(5)= 
ZL1(6)= 
ZL1(7)= 
ZL1(8)= 
ZL1(9)= 
ZL1(10)= 
ZL1(11)= 
ZL1(12)= 
ZL2(3)= 
ZL2(4)= 
ZL2(5)= 
ZL2(6)= 
ZL2(7)= 
ZL2(8)= 
ZL2(9)= 
ZL2(10)= 
ZL2(11)= 
ZL2(12)= 
ZL3(3)= 
ZL3(4)= 
ZL3(5)= 
ZL3(6)= 
ZL3(7)= 
ZL3(8)= 
ZL3(9)= 
ZL3(10)= 
ZL3(11)= 
ZL3(12)= 
DZ1(3)= 
DZ1(4)= 
DZ1(5)= 
DZ1(6)= 
DZ1(7)= 
DZ1(8)= 
DZ1(9)= 
DZ1(10)= 
DZ1(11)= 
DZ1(12)= 
DZ2(3)= 
DZ2(4)= 
DZ2(5)= 
DZ2(6)= 
DZ2(7)= 
DZ2(8)= 
DZ2(9)= 
DZ2(10)= 
DZ2(11)= 
DZ2(12)= 
DZ3(3)= 
DZ3(4)= 
DZ3(5)= 
DZ3(6)= 
DZ3(7)= 
DZ3(8)= 
DZ3(9)= 
DZ3(10)= 
DZ3(11)= 
DZ3(12)= 
NODEZ1(3)= 
NODEZ1(4)= 
NODEZ1(5)= 
NODEZ1(6)= 
NODEZ1(7)= 
NODEZ1(8)= 
NODEZ1(9)= 
NODEZ1(10)= 
NODEZ1(11)= 
NODEZ1(12)= 
NODEZ2(3)= 
NODEZ2(4)= 
NODEZ2(5)= 
NODEZ2(6)= 
NODEZ2(7)= 
NODEZ2(8)= 
NODEZ2(9)= 
NODEZ2(10)= 
NODEZ2(11)= 
NODEZ2(12)= 
NODEZ3(3)= 
NODEZ3(4)= 
NODEZ3(5)= 
NODEZ3(6)= 
NODEZ3(7)= 
NODEZ3(8)= 
NODEZ3(9)= 
NODEZ3(10)= 
NODEZ3(11)= 
NODEZ3(12)= 
CG1(3)= 
CG1(4)= 
CG1(5)= 
CG1(6)= 
CG1(7)= 
CG1(8)= 
CG1(9)= 
CG1(10)= 
CG1(11)= 
CG1(12)= 
CG2(3)= 
CG2(4)= 
CG2(5)= 
CG2(6)= 
CG2(7)= 
CG2(8)= 
CG2(9)= 
CG2(10)= 
CG2(11)= 
CG2(12)= 
bullGFile1(3)=$c$t
bullGFile1(4)=$c$t
bullGFile1(5)=$c$t
bullGFile1(6)=$c$t
bullGFile1(7)=$c$t
bullGFile1(8)=$c$t
bullGFile1(9)=$c$t 
bullGFile1(10)=$c$t 
bullGFile1(11)=$c$t 
bullGFile1(12)=$cexit 
bullGFile2(3)=$c_$t                 
bullGFile2(4)=$c_$t 
bullGFile2(5)=$c_$t 
bullGFile2(6)=$c_$t 
bullGFile2(7)=$c_$t 
bullGFile2(8)=$c_$t  
bullGFile2(9)=$c_$t  
bullGFile2(10)=$c_$t  
bullGFile2(11)=$c_$t  
bullGFile2(12)=$c_exit 
ORDG1(3)=200 
ORDG1(4)=200 
ORDG1(5)=200
ORDG1(6)=200
ORDG1(7)=200 
ORDG1(8)=200 
ORDG1(9)=200 
ORDG1(10)=200
ORDG1(11)=200 
ORDG1(12)=200 
ORDG2(3)=200 
ORDG2(4)=200 
ORDG2(5)=200 
ORDG2(6)=200 
ORDG2(7)=200 
ORDG2(8)=200 
ORDG2(9)=200 
ORDG2(10)=200 
ORDG2(11)=200 
ORDG2(12)=200 
XMLINCLUDE(3)= 
XMLINCLUDE(4)= 
XMLINCLUDE(5)= 
XMLINCLUDE(6)= 
XMLINCLUDE(7)= 
XMLINCLUDE(8)= 
XMLINCLUDE(9)= 
XMLINCLUDE(10)= 
XMLINCLUDE(11)= 
XMLINCLUDE(12)= 
XMU(3)= 
XMU(4)= 
XMU(5)= 
XMU(6)= 
XMU(7)= 
XMU(8)= 
XMU(9)= 
XMU(10)= 
XMU(11)= 
XMU(12)= 
BEGIN(3)= 
BEGIN(4)= 
BEGIN(5)= 
BEGIN(6)= 
BEGIN(7)= 
BEGIN(8)= 
BEGIN(9)= 
BEGIN(10)= 
BEGIN(11)= 
BEGIN(12)= 
START(3)= 
START(4)= 
START(5)= 
START(6)= 
START(7)= 
START(8)= 
START(9)= 
START(10)= 
START(11)= 
START(12)= 
END(3)=1e+30
END(4)=1e+30
END(5)=1e+30
END(6)=1e+30
END(7)=1e+30
END(8)=1e+30
END(9)=1e+30
END(10)=1e+30
END(11)=1e+30
END(12)=1e+30
CL1(3)= 
CL1(4)= 
CL1(5)= 
CL1(6)= 
CL1(7)= 
CL1(8)= 
CL1(9)= 
CL1(10)= 
CL1(11)= 
CL1(12)= 
CL2(3)=0
CL2(4)= 
CL2(5)= 
CL2(6)= 
CL2(7)= 
CL2(8)= 
CL2(9)= 
CL2(10)= 
CL2(11)= 
CL2(12)= 
CL3(3)= 
CL3(4)= 
CL3(5)= 
CL3(6)= 
CL3(7)= 
CL3(8)= 
CL3(9)= 
CL3(10)= 
CL3(11)= 
CL3(12)= 
ORD1(3)=200 
ORD1(4)=200 
ORD1(5)=200 
ORD1(6)=200 
ORD1(7)=200 
ORD1(8)=200 
ORD1(9)=200 
ORD1(10)=200 
ORD1(11)=200 
ORD1(12)=200 
ORD2(3)=200 
ORD2(4)=200 
ORD2(5)=200 
ORD2(6)=200 
ORD2(7)=200 
ORD2(8)=200 
ORD2(9)=200 
ORD2(10)=200 
ORD2(11)=200 
ORD2(12)=200 
ORD3(3)=200 
ORD3(4)=200 
ORD3(5)=200 
ORD3(6)=200 
ORD3(7)=200 
ORD3(8)=200 
ORD3(9)=200 
ORD3(10)=200 
ORD3(11)=200 
ORD3(12)=200 
bullFile1(3)=$c$t
bullFile1(4)=$c$t
bullFile1(5)=$c$t 
bullFile1(6)=$c$t 
bullFile1(7)=$c$t 
bullFile1(8)=$c$t 
bullFile1(9)=$c$t 
bullFile1(10)=$c$t 
bullFile1(11)=$c$t 
bullFile1(12)=$cexit 
bullFile2(3)=$c_$t 
bullFile2(4)=$c_$t  
bullFile2(5)=$c_$t  
bullFile2(6)=$c_$t  
bullFile2(7)=$c_$t  
bullFile2(8)=$c_$t  
bullFile2(9)=$c_$t  
bullFile2(10)=$c_$t  
bullFile2(11)=$c_$t  
bullFile2(12)=$c_exit 
bullFile3(3)=$c__$t
bullFile3(4)=$c__$t
bullFile3(5)=$c__$t
bullFile3(6)=$c__$t 
bullFile3(7)=$c__$t
bullFile3(8)=$c__$t
bullFile3(9)=$c__$t
bullFile3(10)=$c__$t
bullFile3(11)=$c__$t 
bullFile3(12)=$c__exit 
fahts(3)=$c###.k2f
fahts(4)=$c###.k2f
fahts(5)= 
fahts(6)= 
fahts(7)= 
fahts(8)= 
fahts(9)= 
fahts(10)= 
fahts(11)= 
fahts(12)=$c999.k2f
cfa(3)= 
cfa(4)= 
cfa(5)= 
cfa(6)= 
cfa(7)= 
cfa(8)= 
cfa(9)= 
cfa(10)= 
cfa(11)= 
cfa(12)= 
r3drgba(3)=$c$t_rgba
r3drgba(4)=$c$t_rgba
r3drgba(5)=$c$t_rgba
r3drgba(6)=$c$t_rgba
r3drgba(7)=$c$t_rgba
r3drgba(8)=$c$t_rgba
r3drgba(9)=$c$t_rgba
r3drgba(10)=$c$t_rgba
r3drgba(11)=$c$t_rgba
r3drgba(12)=$cexit_rgba
crg(3)= 
crg(4)= 
crg(5)= 
crg(6)= 
crg(7)= 
crg(8)= 
crg(9)= 
crg(10)= 
crg(11)= 
crg(12)=0
ckfx(3)= 
ckfx(4)= 
ckfx(5)= 
ckfx(6)= 
ckfx(7)= 
ckfx(8)= 
ckfx(9)= 
ckfx(10)= 
ckfx(11)= 
ckfx(12)=1
ADAG1(3)= 
ADAG1(4)= 
ADAG1(5)= 
ADAG1(6)= 
ADAG1(7)= 
ADAG1(8)= 
ADAG1(9)= 
ADAG1(10)= 
ADAG1(11)= 
ADAG1(12)= 
ADAG2(3)= 
ADAG2(4)= 
ADAG2(5)= 
ADAG2(6)= 
ADAG2(7)= 
ADAG2(8)= 
ADAG2(9)= 
ADAG2(10)= 
ADAG2(11)= 
ADAG2(12)= 
ADA1(3)= 
ADA1(4)= 
ADA1(5)= 
ADA1(6)= 
ADA1(7)= 
ADA1(8)= 
ADA1(9)= 
ADA1(10)= 
ADA1(11)= 
ADA1(12)= 
ADA2(3)= 
ADA2(4)= 
ADA2(5)= 
ADA2(6)= 
ADA2(7)= 
ADA2(8)= 
ADA2(9)= 
ADA2(10)= 
ADA2(11)= 
ADA2(12)= 
ADA3(3)= 
ADA3(4)= 
ADA3(5)= 
ADA3(6)= 
ADA3(7)= 
ADA3(8)= 
ADA3(9)= 
ADA3(10)= 
ADA3(11)= 
ADA3(12)= 
END(0)=1e+30
END(1)=1e+30
END(2)=1e+30
BX4(1)=
BX1(0)=
BX2(0)= 
BX3(0)= 
BX4(0)= 
BX1(1)= 
BX2(1)= 
BX3(1)= 
BX1(2)= 
BX2(2)= 
BX3(2)= 
BX4(2)= 
T(0)= 
T(1)= 
T(2)= 
coordinatelist1=
coordinatelist2= 
coordinatelist3= 
