license.dat=/opt/KFX/kfx_v2.2-3/bin/License.dat
exe=
showDate=date
ls1=ls -1 -d
R01=1
R02=0
R03=1
R04=0
R05=1
fsc.RARG1=310
fsc.RARG2=2
fsc.RARG3=0.8
fsc.RARG4=0.9
jpegfile=raypic.jpg
mpegfiles=pic####.jpg
fmin=0
fmax=0
lgl=0
po=0
xe=2100
ye=-1200
ze=319.3
xc=100
yc=0
zc=169.3
axnorm=z
knpnr=2
iz1=1
jz1=1
kz1=1
izp=121
jzp=122
kzp=67
CVL(1)=Center
CVL(2)=Center
CVL(3)=Center
CVL(4)=Center
CVL(5)=Center
HDI(1)=0
VDI(1)=0
SHV(1)=0
VS(1)=1
HDI(2)=0
VDI(2)=0
SHV(2)=0
VS(2)=1
HDI(3)=0
VDI(3)=0
SHV(3)=0
VS(3)=1
HDI(4)=0
VDI(4)=0
SHV(4)=0
VS(4)=1
pop=0
l3=6
ConOpt=-bg \#222244442288 -fg white 
iz1(1)=1
izp(1)=100
jz1(1)=1
jzp(1)=100
kz1(1)=1
kzp(1)=100
ax(1)=z
knpnr(1)=2
iz1(2)=1
izp(2)=100
jz1(2)=1
jzp(2)=100
kz1(2)=1
kzp(2)=100
ax(2)=z
knpnr(2)=2
iz1(3)=1
izp(3)=100
jz1(3)=1
jzp(3)=100
kz1(3)=1
kzp(3)=100
ax(3)=z
knpnr(3)=2
iz1(4)=1
izp(4)=100
jz1(4)=1
jzp(4)=100
kz1(4)=1
kzp(4)=100
ax(4)=z
knpnr(4)=2
lavi=1
xstr=1
ystr=1
nl.n=Number of colors in legend.
VN(1)=1
seldat.q(1)=f
seldat.n(1)=1
Selected(1)=U(m/s)
seldat.q(5)=f
seldat.n(5)=1
Selected(5)=U(m/s)
ig=0
knpnr(0)=2
iz1(0)=1
izp(0)=121
jz1(0)=1
jzp(0)=122
kz1(0)=1
kzp(0)=67
ax(0)=z
R00=1
O10=500
I_PIX=300
J_PIX=200
x.ind= I(x)=
y.ind= J(y)=
z.ind= K(z)=
JPWI=800
naccur=2
psfile= 
ex2=
ex3= 
DTIM= 
VN(2)= 
VN(3)= 
VN(4)= 
horiz= 
bxl(1)=0
bxh(1)=1
byl(1)=0
byh(1)=1
bxh(3)=0
byl(3)=1
bxh(2)=0
byh(2)=1
bxh(4)=1
byl(4)=1
bxl=1
bxh=1
byl(2)=0
bxl(2)=0
bxl(3)=1
byh(3)=0
bxl(4)=1
byh(4)=1
ex4= 
JPEG= 
MPEG= 
TRCL= 
xmp(0)= 
xmp(1)= 
xmp(2)= 
xmp(3)= 
xmp(4)= 
xmp(5)= 
xmp(6)= 
xmp(7)= 
xmp(8)= 
xmp(9)= 
xmp(10)= 
xmp(11)= 
xmp(12)= 
xmp(13)= 
xmp(14)= 
xmp(15)= 
xmp(16)= 
xmp(17)= 
NPIX= 
NPIY= 
iz11=1
izp1=100
jz11=1
jzp1=100
kz11=1
kzp1=100
lp(1)= 
knpnr1=2
NM(1)= 
lo(1)= 
lo=0
bx1=0
bxp=1
by1=0
byp=1
xm(1)= 
xm1=0
ym(1)= 
ym1=0
zm(1)= 
zm1=0
xp(1)= 
xp1=0
yp(1)= 
yp1=0
zp(1)= 
zp1=0
ax1=z
showstring(1)= 
showstr= 
VS1=0
lg(1)= 
lg1=0
lc(1)= 
lc1=0
expert(1)= 
expert1= 
Leg(1)= 
nl(1)= 
nl=0
pc(1)= 
fmin(1)=0
fmax(1)=0
lgl(1)=0
po(1)=0
expert2(1)= 
lastTick=2967
